.card-img-top {
    object-fit: cover;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 300px;
    width: 100%;
}
.card-body{
    background-color: white;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-thumbnail{
    height: 85%;
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Teacher_Profile-img-thumbnail{
    height: 90%;
    width: 90%;
    border: 2px solid black;
}

.dashboard-img{
    height: 80px;
    width: 170px; 
    border: 1px solid black;
 
}
